{% load staticfiles %}
<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <style type="text/css">
        
         .balancesheet td, .balancesheet th {
            min-width: 135px;
            text-align: right;
        }
        
        .balancesheet heading {
            text-align: center;
        }
        
        .balancesheet .line-label {
            text-align: left;
        }
        
    </style>
    <title>Taxant Calculus - {% block title %}{% endblock %}</title>
</head>
<body>
<header>

</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>

</footer>
</body>
</html>