{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Jahre{% endblock %}
{% block content %}
<div class="container">
    <h1>Jahr auswählen</h1>
    <form method="post" action="{% url 'core:year_index' company_id=company_id %}">
        {% csrf_token %}
        <div class="col-md-3">Neues Jahr hinzufügen (Jahresenddatum):</div>
        <div class="col-md-3">
            {% if Years %}
                <input type="hidden" name="start_date" value="{{ Years.last.end_date | date:'d.m.Y' }}"/>
                <input type="hidden" name="prior_year_id" value="{{ Years.last.id }}"/>
            {% endif %}
            <input type="text" name="start_date" class="form-control" placeholder="01.01.2000" value="{{ Years.last.end_date | date:'d.m.Y' }}" {% if Years %}disabled{% endif %} required />
        </div>
        <div class="col-md-3"><input type="text" name="end_date" class="form-control" placeholder="31.12.2000" required /></div>
        <div class="col-md-3"><input type="submit" class="btn btn-primary form-control" value="Neues Jahr anlegen"></div>
    </form>
    <br />
    <br />
    {% if Years %}
    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Anfang</th>
                <th>Ende</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for y in Years %}
            <tr>
                <td><a href="#">{{ y.start_date | date:'d.m.Y' }}</a></td>
                <td><a href="#">{{ y.end_date | date:'d.m.Y' }}</a></td>
                <td>
                    {% if y.version_set.count == 0 %}
                        <button class="delete-button btn btn-danger btn-xs" data-delete-url="{% url 'core:year_detail' company_id=y.company_id year_id=y.id %}"><i class="glyphicon glyphicon-trash"></i></button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3 class="alert-danger">Keine Jahre vorhanden!</h3>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $('.delete-button').click(function() {
        var url = $(this).attr("data-delete-url");
        console.log(url);
        $.ajax({
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            type: 'DELETE',
            success: function(result) {
                console.log("Delete successful!")
            }
        });
    });
</script>
{% endblock %}